header {
  
    .navbar {
      background-color: $color-primary !important;
      
      .navbar-brand {
        color: $color-text-light;
        font-weight: bold;
        font-size: 1.5rem;
        @include transition(color);
  
        &:hover {
          color: $color-accent;
        }
      }
  
      .navbar-nav {
        .nav-link {
          color: $color-text-light;
          @include transition(color);
  
          &:hover, &.active {
            color: $color-accent;
          }
        }
      }
  
      .navbar-toggler {
        border-color: $color-text-light;
        
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
    }
  }
  